In [63]:
import numpy as np
import pandas as pd


image_specs = pd.read_csv("HumanObserved-Dataset/HumanObserved-Features-Data/HumanObserved-Features-Data.csv")
image_specs_df = pd.DataFrame(dataset)

same_pair = pd.read_csv("HumanObserved-Dataset/HumanObserved-Features-Data/same_pairs.csv")
same_pair_df = pd.DataFrame(same_pair)

diff_pair = pd.read_csv("HumanObserved-Dataset/HumanObserved-Features-Data/diffn_pairs.csv")
diff_pair_df = pd.DataFrame(diff_pair)

In [64]:
print(image_specs_df.shape)
print(same_pair_df.shape)
print(diff_pair_df.shape)

(1026, 11)
(791, 3)
(293032, 3)

In [65]:
# This function takes dataset containing pairs and 
# returns a dataframe of n*21 dimention containing their image specifications 

def merge_data_set(image_specs, pair_set):
    df3 = pd.merge(pair_set, image_specs ,left_on = 'img_id_A', right_on = 'img_id',how="inner")
    matched_dataset = pd.merge(df3, image_specs ,left_on = 'img_id_B', right_on = 'img_id',how="inner")
    matched_dataset = matched_dataset.drop(['img_id_x', 'img_id_y', 'Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)
    
    return matched_dataset

In [78]:
# create a dataframe using the image specifications from same writers (matched pairs, 791 rows)

matched_dataset = merge_data_set(image_specs_df, same_pair_df)
print(matched_dataset.shape)
matched_dataset.head()

(791, 21)

,img_id_A,img_id_B,target,f1_x,f2_x,f3_x,f4_x,f5_x,f6_x,f7_x,...,f9_x,f1_y,f2_y,f3_y,f4_y,f5_y,f6_y,f7_y,f8_y,f9_y
0,0359a,0359b,1,2,1,1,0,2,2,0,...,2,3,2,1,0,2,2,3,0,2
1,0577a,0577b,1,2,1,1,0,2,2,0,...,2,2,1,0,3,2,2,1,2,2
2,0577a,0577c,1,2,1,1,0,2,2,0,...,2,1,1,1,1,2,3,0,0,2
3,0577b,0577c,1,2,1,0,3,2,2,1,...,2,1,1,1,1,2,3,0,0,2
4,1120a,1120b,1,2,1,1,3,2,2,0,...,2,1,1,1,0,2,2,0,2,2

In [80]:
# create a dataframe using the image specifications from different writers (unmatched pairs)
# Since unmatched dataset is huge we are randomly creating a sample with same data size (791 rows)
# because if the amount of unmatched data overwhelms the matched data, the model may overfit

chosen_idx = np.random.choice(diff_pair_df.shape[0]-1, replace=False, size = matched_dataset.shape[0])
diff_pair_df_sample = diff_pair_df.iloc[chosen_idx]
unmatched_dataset = merge_data_set(image_specs_df, diff_pair_df_sample)
print(unmatched_dataset.shape)
unmatched_dataset.head()

(791, 21)

,img_id_A,img_id_B,target,f1_x,f2_x,f3_x,f4_x,f5_x,f6_x,f7_x,...,f9_x,f1_y,f2_y,f3_y,f4_y,f5_y,f6_y,f7_y,f8_y,f9_y
0,1362c,0550a,0,3,0,1,0,2,2,0,...,2,3,4,1,3,2,2,0,0,2
1,1540b,0550a,0,1,1,1,0,2,2,1,...,2,3,4,1,3,2,2,0,0,2
2,1362c,1375b,0,3,0,1,0,2,2,0,...,2,1,4,1,3,2,2,0,3,2
3,1534c,1375b,0,3,1,1,0,2,1,0,...,2,1,4,1,3,2,2,0,3,2
4,1498a,1461c,0,0,1,1,1,2,2,1,...,2,2,4,1,3,2,1,0,3,2

In [81]:
#merge the two dataset into one and randomizing the order
dataset = pd.concat([unmatched_dataset,matched_dataset])
dataset = dataset.sample(frac=1).reset_index(drop=True)
dataset.head()

,img_id_A,img_id_B,target,f1_x,f2_x,f3_x,f4_x,f5_x,f6_x,f7_x,...,f9_x,f1_y,f2_y,f3_y,f4_y,f5_y,f6_y,f7_y,f8_y,f9_y
0,1545a,1545b,1,0,1,1,0,2,2,1,...,2,2,1,1,0,0,2,0,1,2
1,1236c,1099c,0,1,1,1,1,2,3,0,...,2,2,4,0,2,2,2,0,3,2
2,0328b,0328a,1,0,2,1,1,2,3,0,...,2,3,1,0,2,2,3,0,2,2
3,0311a,1348c,0,1,2,1,1,2,1,3,...,2,1,3,1,1,2,2,2,0,1
4,1531c,0557c,0,3,1,1,0,2,3,1,...,2,1,1,1,0,2,1,0,2,1